<a href="https://colab.research.google.com/github/WooHanYeong/CodingTest/blob/main/CodingTest_Day1%2C2%2C3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# day1

In [ ]:
def solution(num1, num2):
    answer = num1+num2
    return answer

solution(1,2)

3

In [ ]:
def solution(num1, num2):
    answer = num1-num2
    return answer

solution(1,2)

-1

In [ ]:
def solution(num1, num2):
    answer = num1*num2
    return answer

solution(1,2)

2

In [ ]:
def solution(numbers):
    answer = []
    for i in range(0,len(numbers)):
        answer.append(numbers[i]*2)
    return answer

solution([1,2,3])

[2, 4, 6]

# day2

In [ ]:
def solution(num1, num2):
    answer = int(float(num1/num2 )*1000)
    return answer

solution(7,3)

2333

In [ ]:
def solution(num1, num2):
    if num1 == num2:
      return 1
    else :
      return -1

solution(2,2)

1

In [ ]:
def solution(numer1, denom1, numer2, denom2):
    answer = []
    a= (numer1 * denom2) + (numer2 *denom1) #분자
    b= denom1 * denom2  #분모
    c=0
    for i in range(1,min(a,b)+1):
        if ((a%i==0) and (b%i==0)) :
            c=i
    d=a/c
    e=b/c
    answer.append(d)
    answer.append(e)
    return answer


solution(9,2,1,3)

[29.0, 6.0]

In [ ]:
def solution(numbers):
    answer = []
    for i in range(0,len(numbers)):
        answer.append(numbers[i]*2)
    return answer

solution([1,2,3,4])

[2, 4, 6, 8]

# day3

In [ ]:
def solution(num1, num2):
    answer = num1%num2
    return answer
solution(10,5)

0

In [ ]:
def solution(array):
    array.sort()
    answer = 0
    abs = int(((len(array)+1)/2)-1)
    answer = array[abs]

    return answer

solution([9,-1,0])

0

In [28]:
def solution(array):
  array_s = list(set(array))
  answer=[]
  for i in range(len(array_s)):
    counts=0
    for j in range(len(array)):
      if array_s[i] == array[j] :
        counts+=1
    answer.append(counts)
    counts=0
  answer.count
  count=0
  max_i = max(answer)
  for i in range(len(answer)) :
    if max_i == answer[i] :
      count+=1
  if count >=2 :
    return -1
  else :
    return array_s[answer.index(max(answer))]


solution([1,1,1,1,1,2,2,2,3,3,3,4])

1

In [31]:
def solution(n):
    answer = []
    for i in range(1,n+1):
      if i%2==1:
        answer.append(i)
    return answer
solution(15)

[1, 3, 5, 7, 9, 11, 13, 15]