<a href="https://colab.research.google.com/github/WooHanYeong/CodingTest/blob/main/%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%A8%B8%EC%8A%A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# day2-3
# numer1  numer2
# denom1  denom2
def solution(numer1, denom1, numer2, denom2):
    answer = []
    a= (numer1 * denom2) + (numer2 *denom1) #분자
    b= denom1 * denom2  #분모
    c=0
    for i in range(1,min(a,b)+1):
        if ((a%i==0) and (b%i==0)) :
            c=i
    d=a/c
    e=b/c
    answer.append(d)
    answer.append(e)
    return answer


solution(9,2,1,3)

[29.0, 6.0]

In [ ]:
# day2-4

def solution(numbers):
    answer = []
    for i in range(0,len(numbers)):
        answer.append(numbers[i]*2)
    return answer

solution([1,2,3,4])

[2, 4, 6, 8]

In [ ]:
# day3-2

def solution(array):
    array.sort()
    answer = 0
    abs = int(((len(array)+1)/2)-1)
    answer = array[abs]

    return answer

solution([9,-1,0])

0

In [ ]:
a=[1,4,3,6,8,3,2]
b=list(set(a))
for i in range(0,len(b)):
  print(b[i])

1
2
3
4
6
8