<a href="https://colab.research.google.com/github/WooHanYeong/CodingTestPython/blob/main/%EB%B0%B1%EC%A4%80/%EC%9D%BC%EB%B0%98_%EC%88%98%ED%95%99_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#중앙 이동 알고리즘
n=int(input())
sum=2
for i in range(n):
  sum+=2**i
result = sum*sum
print(result)

5
1089

In [20]:
# 쿼터(Quarter, $0.25)의 개수, 다임(Dime, $0.10)의 개수, 니켈(Nickel, $0.05)의 개수, 페니(Penny, $0.01)
Q = 0.25
D = 0.10
N = 0.05
P = 0.01

t = int(input())
for i in range(t):
  c = int(input())
  QM = c // 25
  c = c % 25
  DM = c // 10
  c = c % 10
  NM = c // 5
  c = c % 5
  PM = c
  print(QM, DM, NM, PM)

3
124
4 2 0 3
25
1 0 0 0
194
7 1 1 3

In [51]:
#진법 변환
def convert_base(num, to_base):
    if num == 0:
        return '0'

    digits = '0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    result = ''

    while num > 0:
        remainder = num % to_base
        result = digits[remainder] + result
        num //= to_base

    return result

M, N = input().split()
decimal_number = int(M, int(N))
result = convert_base(decimal_number, 10)
print(result)

ZZZZZ 36
60466175

In [53]:
#진법 변환 2
def convert_to_base(num, base):
    if num == 0:
        return '0'

    digits = '0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    result = ''

    while num > 0:
        remainder = num % base
        result = digits[remainder] + result
        num //= base

    return result

M, N = map(int, input().split())

result = convert_to_base(M, N)
print(result)

60466175 36
ZZZZZ